.button {
  display: inline-block;
  margin: 0;
  padding: .5em 1em;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  background: none;
  text-align: center;
  border-radius: .5em;

  &--success {
    background-color: green;
    color: white;
  }

  &--info {
    background-color: yellow;
    color: black;
  }

  &--error {
    background-color: red;
    color: white;
  }
}
